* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Ubuntu', sans-serif;
    background: #fff;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 320px;
    height: auto;
}
.logo-area{
    width: 100%;
    text-align: center;
    font-style: 6rem;
    padding: .5rem;
    color: #2271B1;
}
form{
    background-color: #fff;
    border: 1px solid #C3C4C7;
    padding: 26px 24px 34px 24px;
}
.input-field{
    margin-bottom: 10px;
}
form label{
    font-size: 14px;
    line-height: 2;
    color: #3C434A;
    margin-bottom: 10px;
}
form .input{
    width: 100%;
    font-size: 24px;
    line-height: 1.3;
    border: 1px solid #8c8f94;
    border-radius: 4px;
    outline: none;
    padding: 4px 6px;
}
form .input:focus{
    border: 2px solid #0073AA;
    transition: all 0.3s ease;
}
.action-field{
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.submit > input{
    border: 1px solid #ffffff;
    border-radius: 4px;
    background-color: #2271B1;
    color: #fff;
    padding: 8px 17px;    
}
.submit > input:hover{
    border: 1px solid #135e96;
    cursor: pointer;
}